html{
  font-family: 'Nunito Sans', sans-serif;
  background-color:#fcfaf7;
}
body{

}
input[type=text], select, input[type=number], input[type=password] {
  padding: 10px 20px 10px 10px;
  margin: 7px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
}
label{
  padding-right: 10px;
}
#submit{
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  background-color:#cc0223;
  border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   border-radius: 12px;
}
table th{
  color:#ffaa00;
  padding-right:5px;
}
table td{
  text-align:center;
}
h1{
  color:#cc0223;
}
a, a:link, a:active{
  color:#ffaa00;
  text-decoration: none;
  padding-left:10px;
}
.homeLogout{
  text-align:right;
  float:right;
  background-color:#cc0223;
  color:white;
  border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 14px;
   border-radius: 9px;
}
table{
  width:100px;
}
